#If you are using urlShortener in the root directory
#of a domain, uncomment to following lines!

#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_URI} !=/index.php
#RewriteRule ^(.*) /index.php?short=$1 [L,PT]

<Files 404.php>
deny from all
</Files>

<Files home.php>
deny from all
</Files>